<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <div class="row">
      <h4 class="mt-2">Register For NetBanking</h4>

      <div class="input-group input-group-icon">
        <input
          type="email"
          placeholder="Email Address"
          formControlName="email"
        />
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          <small>Email is required and must be valid.</small>
        </div>
      </div>

      <div class="input-group input-group-icon">
        <input type="text" formControlName="mobileNumber" placeholder="Phone" />
        <div class="input-icon"><i class="fa fa-phone"></i></div>
        <div
          *ngIf="
            registerForm.controls['mobileNumber'].touched &&
            registerForm.controls['mobileNumber'].invalid
          "
          class="error text-danger"
        >
          Phone is required
        </div>
      </div>

      <div class="input-group input-group-icon">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <div class="input-icon"><i class="fa fa-key"></i></div>
        <div
          *ngIf="
            registerForm.controls['password'].touched &&
            registerForm.controls['password'].invalid
          "
          class="error text-danger"
        >
          Password is required
        </div>
      </div>

      <div class="row">
        <div class="input-group input-group-icon">
          <input type="text" formControlName="pan" placeholder="PAN" />
          <div class="input-icon"><i class="fa fa-credit-card"></i></div>
          <div
            *ngIf="
              registerForm.controls['pan'].touched &&
              registerForm.controls['pan'].invalid
            "
            class="error text-danger"
          >
            PAN is required
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-group input-group-icon">
        <input
          type="text"
          formControlName="accountNumber"
          placeholder="Account Number"
        />
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
        <div
          *ngIf="
            registerForm.controls['accountNumber'].touched &&
            registerForm.controls['accountNumber'].invalid
          "
          class="error text-danger"
        >
          Account Number is required
        </div>
      </div>
    </div>
    <div class="input-group input-group-icon">
      <input type="text" formControlName="ifscCode" placeholder="IFSC code" />
      <div class="input-icon"><i class="fa fa-key"></i></div>
      <div
        *ngIf="
          registerForm.controls['ifscCode'].touched &&
          registerForm.controls['ifscCode'].invalid
        "
        class="error text-danger"
      >
        IFSC Code is required
      </div>
    </div>

    <div class="row">
      <h6>Terms and Conditions</h6>
      <div class="input-group">
        <input id="terms" type="checkbox" formControlName="terms" />
        <label for="terms"
          >I accept the terms and conditions for signing up to this service, and
          hereby confirm I have read the privacy policy.</label
        >
        <div
          *ngIf="
            registerForm.controls['terms'].touched &&
            registerForm.controls['terms'].invalid
          "
          class="error text-danger"
        >
          You must accept the terms and conditions
        </div>
      </div>
    </div>
    <button
      id="submitButton"
      type="submit"
      class="btn"
      [disabled]="registerForm.invalid"
    >
      Next
    </button>
    <a (click)="login()">Already Registered?</a>
  </form>
</div>
