<div class="container">
  <form (ngSubmit)="submitForm()">
    <div class="row">
      <h4>Check Account Status</h4>
    </div>

    <div class="row">
      <div class="input-group input-group-icon">
        <input
          type="text"
          placeholder="PAN"
          [(ngModel)]="pan"
          name="pan"
          required
        />
        <div class="input-icon"><i class="fa fa-credit-card"></i></div>
      </div>
    </div>

    <div class="row">
      <h6>Terms and Conditions</h6>
      <div class="input-group">
        <input
          id="terms"
          type="checkbox"
          [(ngModel)]="termsAccepted"
          name="terms"
          required
        />
        <label for="terms"
          >I accept the terms and conditions for signing up to this service, and
          hereby confirm I have read the privacy policy.</label
        >
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!termsAccepted">
        Next
      </button>
    </div>
  </form>
</div>
