<div class="container-fluid">
  <header class="header">
    <img src="/assets/images/logo.png" alt="" width="100px" />
    <nav class="nav">
      <!-- <a (click)="authAccountStatus()">AccountStatus</a> -->
      <a (click)="currExchange()">currency Exchange</a>
      <a (click)="adminLogin()">Admin</a>
      <a (click)="graph()">About Us</a>
    </nav>
    <div class="auth-buttons">
      <button class="login-button" (click)="login()">Log In</button>
      <button class="register-button" (click)="RegisterNetBanking()">
        Register
      </button>
    </div>
  </header>

  <main class="main-content">
    <div class="intro">
      <h1 class="heading">
        The <span class="highlight">Future</span> of Banking Is Here
      </h1>
      <h3 class="text-muted">
        Banking experience has never been this easy before, start your journey
        now and see the difference.
      </h3>
      <div class="cta-buttons">
        <button class="start-now" (click)="PersonalDetails()">
          Create Account
        </button>
        <a
          href="https://www.worldbank.org/en/news/video/2022/10/17/step-contract-management-module-introduction"
          class="watch-demo"
          >Watch Demo</a
        >
      </div>
      <div class="image-container">
        <img
          src="/assets/images/trade.png"
          alt="Piggy Bank with Coins"
          class="pigImage"
          style="width: 500px; float: left"
        />
      </div>
    </div>
    <div class="image-container">
      <img
        src="/assets/images/pngwin.png"
        alt="Piggy Bank with Coins"
        class="pigImage"
        style="width: 600px"
      />
    </div>
  </main>

  <section class="features">
    <div class="feature">
      <h2>Features</h2>
      <h3>Tons of Features that will save your time</h3>
      <p>
        The World Bank Group is one of the world's largest sources of funding
        and knowledge for developing countries. Its five institutions share a
        commitment to reducing poverty, increasing shared prosperity, and
        promoting sustainable development.
      </p>
    </div>
    <div class="wallet-info">
      <img
        src="/assets/images/cash.png"
        alt="Wallet Information"
        style="width: 500px"
      />
    </div>
  </section>
</div>

<div class="world-bank-group">
  <div class="institutions">
    <div class="institution">
      <h2>IBRD</h2>
      <p>The International Bank for Reconstruction and Development</p>
    </div>
    <div class="institution">
      <h2>IDA</h2>
      <p>The International Development Association</p>
    </div>
    <div class="institution">
      <h2>IFC</h2>
      <p>The International Finance Corporation</p>
    </div>
    <div class="institution">
      <h2>MIGA</h2>
      <p>The Multilateral Investment Guarantee Agency</p>
    </div>
    <div class="institution">
      <h2>ICSID</h2>
      <p>The International Centre for Settlement of Investment Disputes</p>
    </div>
  </div>

  <p>
    Our core values embody what is most important to us as an institution, and
    in how we work with each other, our clients and our partners. They guide the
    decisions we make and the actions we take in carrying out our mission.
  </p>
  <a href="#">A Values-Based World Bank Group</a>
</div>

<!-- footer -->

<footer class="footer-distributed" style="background-color: white">
  <div class="footer-left">
    <img src="/assets/images/logo.png" alt="" width="200px" />
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span></span> Banglore, Karnataka</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9353842565</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">worldbank.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      The World Bank is an international development organization that provides
      financial and technical assistance to developing countries to promote
      long-term economic development and poverty reduction.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
  </div>
</footer>
